@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-color:floralwhite;">
    <h1 class="display-4">Welcome</h1>
    <div class="card">
        <div class="card-body">
            <h3>Coded By :Mohamed Sayed Hassan</h3>
            <hr />
            <h3>Mobile:55433574</h3>
            <hr />
            <h3>Email:mohamedsayed210@gmail.com</h3>
        </div>
    </div>
 </div>
